# InfluxDB
INFLUX_PORT=8086
INFLUX_INIT_MODE=setup
INFLUX_ADMIN_USER=admin
INFLUX_ADMIN_PASSWORD=changeme
INFLUX_ORG=nwdaf
INFLUX_BUCKET=raw_data
INFLUX_TOKEN=your-super-secret-token

# ClickHouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_TCP_PORT=9000
CLICKHOUSE_DB=analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=changeme

# Kafka
KAFKA_HOST=kafka

# Policy
POLICY_SERVICE_URL=http://policy-service:8000
POLICY_ENABLED=false
POLICY_FAILOPEN=true
